<!DOCTYPE html>
<html lang="cs" data-bs-theme="dark">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="public/css/style.css?v={{ cacheBuster }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/js/production.min.js?v={{ cacheBuster }}"></script>
	{{ head|raw }}
</head>
<body>
	{{ body|raw }}
</body>
</html>