/*------------------------------------*\
    #calendar
\*------------------------------------*/
.calendar {
	width: auto;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: auto;
	align-content: start;

	&-break {
		flex-basis: 100%;
		height: 0;
	}
	
	&-header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: auto;
		align-content: start;
		flex-basis: 100%;
		color: #fff;

		&-nav {
			flex: 0 0 auto;
			border: 0px;
			height: 40px;
			font-weight: bold;
			text-align: center;
		}

		&-month {
			flex: 1 0 auto;
			border: 0px solid #f00;
			height: 40px;
			font-weight: bold;
			text-align: center;
		}

		&-label {
			flex: 1 0 auto;
			border: 0px;
			height: 40px;
			line-height: 40px;
			font-weight: bold;
			text-align: center;
		}
	}

	&-days {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: auto;
		align-content: start
	}

	&-day {
		flex: 1 0 auto;
		border: 1px solid transparent;
		width: calc(100% / 7);
		text-align: center;
		
		.btn {
			display: block;
			box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.33);
		}

		&.has-events {
			.btn {
				box-shadow: inset 0px 0px 20px 0px rgba(255,255,255,1);
			}
		}

		&:hover {
		
		}
	}	

	&-events {
		margin-top: 0.5em;
		p {
			margin-bottom: 0.5em;
			color: #999;
			font-size: 0.8em;
			i {
				margin-right: 0.75em;
				display: inline-block;
			}
			strong {
				font-size: 1em;
				font-weight: bold;
				display: block;
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}